* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.testo {
	color: #fff;
}

body {
	background-color: #1e1e1e;
}

.flex {
	display: flex;
}

.color-red {
	color: red;
}

.whiteBG {
	background-color: #d9d9d9;
}

.absolute {
	position: absolute;
}

.relative {
	position: relative;
}

.bottom {
	bottom: 0px;
}

.grassetto {
	font-weight: 700;
}

.corsivo {
	font-style: italic;
}

.sottile {
	font-weight: 400;
}

.greyBG {
	background-color: rgba(217, 217, 217, 50);
}
