* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.colonne {
	width: 100vw;
}

a {
	text-decoration: none;
}

.col42G {
	width: 78vw;
	margin-left: 10.83%;
	margin-right: 10.83%;
}

.col4 {
	width: 64.1vw;
	margin-left: 8.9%;
	margin-right: 8.9%;
}

.col2 {
	width: 28.9vw;
	margin-left: 27.7%;
	margin-right: 27.7%;
}

body {
	background-color: #1e1e1e;
}

.flex {
	display: flex;
}

.color-red {
	color: red;
}

.whiteText {
	color: #fff;
}

.grassetto {
	font-weight: 700;
}

.corsivo {
	font-style: italic;
}

.titolo {
	font-family: Arial, Helvetica, sans-serif;
	flex-basis: 50%;
	flex-grow: 2;
	text-align: center;
	font-size: 1.95vw;
}

#mainTitle span:hover {
	color: rgb(0, 0, 220);
	transition: ease 150ms;
}

.whiteBG {
	background-color: #d9d9d9;
}

.coverFixed {
	width: 100vw;
	height: 19.63906581740977vh;
}

.absolute {
	position: absolute;
}

.bottomLeft {
	bottom: 1.9904vh;
	left: 1.7276vw;
}

.relative {
	position: relative;
}

.fixed {
	position: fixed;
}

div.basicq .col4 :nth-child(2) {
	margin-top: 0.398vh;
	margin-bottom: 0.398vh;
}

header.flex {
	align-items: center;
	width: 100vw;
	top: 0;
	height: 19.63906581740977vh;
	background-color: #1e1e1e;
}

.back {
	/*flex-basis: 4.883%;*/
	flex-basis: 7.813%;
	text-align: center;
	width: 2.6041vw;
	left: 2.34375vw;
}

.croce {
	width: 40px;
	height: 40px;
	position: relative;
	border-radius: 6px;

	/*top: 1.875vh;
	left: 5.28vw;
	text-align: center;
	background-color: rgba(0, 0, 0, 0%);
	color: white;
	font-size: 8.33vw;*/
}

.croce::after,
.croce::before {
	content: '';
	position: absolute;
	width: 36px;
	height: 4px;
	background-color: white;
	border-radius: 2px;
	top: 16px;
}

.croce::after {
	transform: rotate(-45deg);
	right: 2px;
}

.croce::before {
	transform: rotate(45deg);
	left: 2px;
}

.croce:hover {
	color: #d9d9d9;
	transition: ease-in 150ms;
}

.buttonDimension {
	width: 28.9vw;
	height: 5.75vh;
}

button.buttonDimension.whiteBG.bottoneInvio {
	border-radius: 20px;
	font-size: 1.302vw;
}

button.buttonDimension.whiteBG.bottoneInvio:hover {
	color: red;
	width: 33vw;
	height: 7vh;
	font-size: 1.802vw;
	transition: ease-in-out 210ms;
}

.col2.divbottone:hover {
	margin-left: 24.7%;
	transition: ease-in-out 210ms;
}

.col2.divbottone {
	margin-top: 5vh;
	width: fit-content;
}

.dNumber {
	text-align: center;
}

.dtendina {
	text-align: center;
}

.dradio {
	text-align: center;
	flex-direction: column;
	margin-top: 2.65vh;
}

.dradio span {
	text-decoration: none;
	font-family: 'Times New Roman', Times, serif;
	font-weight: normal;
	font-size: 2.788vh;
	line-height: normal;
}

.wrapRadioQuestion {
	/*width: fit-content;*/
	margin-left: 7.023vw;
	margin-top: 1.328vh;
	justify-content: flex-start;
}

div.mainq .dnumber {
	margin-top: 6px;
}

.mainq .dtendina {
	margin-top: 45px;
}
