@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.colonne {
	width: 100vw;
}

a {
	text-decoration: none;
}

.col42G {
	width: 78vw;
	margin-left: 10.83%;
	margin-right: 10.83%;
}

.col4 {
	width: 64.1vw;
	margin-left: 8.9%;
	margin-right: 8.9%;
}

.col2 {
	width: 28.9vw;
	margin-left: 27.7%;
	margin-right: 27.7%;
}

body {
	background-color: #1e1e1e;
}

.flex {
	display: flex;
}

.color-red {
	color: red;
}

.whiteText {
	color: #fff;
}

.grassetto {
	font-weight: 700;
}

.corsivo {
	font-style: italic;
}

.titolo {
	font-family: Arial, Helvetica, sans-serif;
	flex-basis: 50%;
	flex-grow: 2;
	text-align: center;
	font-size: 1.95vw;
}

#mainTitle span:hover {
	color: rgb(0, 0, 220);
	transition: ease 150ms;
}

.whiteBG {
	background-color: #d9d9d9;
}

.coverFixed {
	width: 100vw;
	height: 19.63906581740977vh;
}

.absolute {
	position: absolute;
}

.bottomLeft {
	bottom: 1.9904vh;
	left: 1.7276vw;
}

.relative {
	position: relative;
}

.fixed {
	position: fixed;
}

div.basicq .col4 :nth-child(2) {
	margin-top: 0.398vh;
	margin-bottom: 0.398vh;
}

header.flex {
	align-items: center;
	width: 100vw;
	top: 0;
	height: 19.63906581740977vh;
	background-color: #1e1e1e;
}

.back {
	/*flex-basis: 4.883%;*/
	flex-basis: 7.813%;
	text-align: center;
	width: 2.6041vw;
	left: 2.34375vw;
}

.croce {
	width: 40px;
	height: 40px;
	position: relative;
	border-radius: 6px;

	/*top: 1.875vh;
	left: 5.28vw;
	text-align: center;
	background-color: rgba(0, 0, 0, 0%);
	color: white;
	font-size: 8.33vw;*/
}

.croce::after,
.croce::before {
	content: '';
	position: absolute;
	width: 36px;
	height: 4px;
	background-color: white;
	border-radius: 2px;
	top: 16px;
}

.croce::after {
	transform: rotate(-45deg);
	right: 2px;
}

.croce::before {
	transform: rotate(45deg);
	left: 2px;
}

.croce:hover {
	color: #d9d9d9;
	transition: ease-in 150ms;
}

.buttonDimension {
	width: 28.9vw;
	height: 5.75vh;
}

button.buttonDimension.whiteBG.bottoneInvio {
	border-radius: 20px;
	font-size: 1.302vw;
}

button.buttonDimension.whiteBG.bottoneInvio:hover {
	color: red;
	width: 33vw;
	height: 7vh;
	font-size: 1.802vw;
	transition: ease-in-out 210ms;
}

.col2.divbottone:hover {
	margin-left: 24.7%;
	transition: ease-in-out 210ms;
}

.col2.divbottone {
	margin-top: 5vh;
	width: fit-content;
}

.dNumber {
	text-align: center;
}

.dtendina {
	text-align: center;
}

.basicq .col2 div.dradio {
	text-align: center;
	flex-direction: column;
	margin-top: 2.65vh;
}

.dradio span {
	text-decoration: none;
	font-family: 'Times New Roman', Times, serif;
	font-weight: normal;
	font-size: 2.788vh;
	line-height: normal;
}

div.dradio.flex div.wrapRadioQuestion {
	/*width: fit-content;*/
	margin-left: 7.023vw;
	margin-top: 1.328vh;
	justify-content: flex-start;
}

div.mainqRemembers .dNumber {
	margin-top: 6px;
}

.mainqRemembers .dtendina {
	margin-top: 45px;
}

.colonne * {
	font-family: 'Inter', sans-serif;
}

.switchDiv {
	margin-top: 6px;
	justify-content: center;
	align-items: center;
}

.switch {
	position: relative;
	display: inline-block;
	width: 42.3px;
	height: 24px;
}

.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

.slider-round {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	/*-webkit-transition: 0.4s;*/
	transition: 0.4s;
	border-radius: 24px;
}

.slider-round:before {
	position: absolute;
	content: '';
	height: 20px;
	width: 20px;
	left: 1.15px;
	bottom: 2.4px;
	background-color: white;
	/*-webkit-transition: 0.4s;*/
	transition: 0.4s;
	border-radius: 50%;
}

.switch input:checked + .slider-round {
	background-color: #f32121;
}

.switch input:focus + .slider-round {
	box-shadow: 0 0 1px #f32121;
}

.switch input:checked + .slider-round:before {
	/*-webkit-transform: translateX(20px);
	-ms-transform: translateX(20px);*/
	transform: translateX(18.85px);
}

.pre-checkbox,
.post-checkbox {
	margin: 0 10px;
}

.dNumber input,
.dtendina select {
	background-color: #3e3e3e;
	border-radius: 4px;
	border: 0.1px solid rgba(243, 33, 33, 30%);
	text-align: center;
}

.dNumber input:focus-visible,
.dtendina select:focus-visible {
	outline-color: rgba(243, 33, 33, 40%);
	outline-offset: 0;
	outline-width: 1px;
	outline-style: double;
	border: 0.1px solid rgba(243, 33, 33, 30%);
}

.dtendina select::-webkit-scrollbar {
	display: none;
}

.dNumber input[type='number']::-webkit-outer-spin-button,
.dNumber input[type='number']::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.dtendina select optgroup {
	color: red;
	text-align: left;
}

.dtendina option {
	color: #fff;
	text-align: center;
}

.hidden {
	display: none;
}
