*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.colonne{
    width: 100vw;
}

.col42G{
    width: 78vw;
    margin-left: 10.83%;
    margin-right: 10.83%;
}

.col4{
    width: 64.1vw;
    margin-left: 8.9%;
    margin-right: 8.9%;
}

.col2{
    width: 28.9vw;
    margin-left: 27.7%;
    margin-right: 27.7%;
}

.testo{
    color: #fff;
}

body{
    background-color: #1e1e1e;
}

.flex{
    display: flex;
}

.color-red{
    color: red;
}

.whiteText{
    color: #ffffff;
}

.whiteBG{
    background-color: #d9d9d9;
}

.absolute{
    position: absolute;
}

.relative{
    position: relative;
}

.croce{
    top: 1.875vh;
    left: 5.28vw;
    text-align: center;
    background-color: rgba(0, 0, 0, 0%);
    color: white;
    font-size: 8.33vw;
}